/* WIREFRAME TESTING */

/* This section will create dashed borders around all elements, uncomment the below code when building layout */


:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}



/* END WIREFRAME TESTING */


/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  color: #222;
}

.container {
  width: 100%;
}

.image {
  max-width: 600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 3% auto;
}

 /* Clearfix */

.clearfix {
content: "";
display: table;
clear: both;
}

/* MEDIA QUERIES */

/* Medium Devices, Wide Screens */
 @media only screen and (min-width : 601px) {
   .container {
     overflow: auto;
   }

   .image {
     max-width: 1000px;
   }
   #cat {
     width: 100%;
   }
   .lower-col {
     width: 1000px;
     margin: 0 auto;

   }

   #dog, #fox {
     max-width: 49%;
     margin-right: 0.5%;
     margin-left: 0.5%;
     float: left;
   }
 }

 /* Medium Devices */
 @media only screen and (max-width : 992px) {

 }
