/* WIREFRAME TESTING */

/* This section will create dashed borders around all elements, uncomment the below code when building layout */


*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/* End for testing */


.columns {
  margin: .5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  color: #222;
}

img {
  max-width: 100%;
}

.container  {
  width: 95%;
  margin: 0 auto;
}

.cat {
  width: 66%;
  float: left;
}

.fox {
  float: right;
  width: 32%;
}

.dog {
  float: right;
  width: 32%;
}

.fox, .dog {
  margin: 0 auto;
}

/* Clearfix */

.clearfix {
content: "";
display: table;
clear: both;
}

/*MEDIA*/


@media screen and (max-width: 1200px) {
  .columns {
    margin: 0 auto;
  }

  .container {
    margin: 0 auto;
  }

  .cat {
    float: none;
    width: 90%;
    margin-bottom: 1%;
  }

  .fox {
    float: left;
    margin-left: 5%;
    width: 44%;
  }

  .dog {
    float: left;
    width: 44%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 600px) {
  .fox, .dog {
    float: none;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
  }
